@font-face {
    font-family: 'DIN Pro';
    src: url(../fonts/dinpro_light.otf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.otf)
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url(../fonts/Gilroy-ExtraBold.otf);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    size: 100vw 100vh;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: -5;
}

.slider {
    size: 1024px 768px;
    position: relative;
    z-index: -5;

    overflow: hidden;
    user-select: none;

    &__global_navigation {
        size: 20% 5%;
        position: absolute;
        top: 6%;
        left: 7%;
        cursor: pointer;

        z-index: 5;
    }

    &__global_logo {
        size: 7% 3%;
        position: absolute;
        bottom: 3%;
        left: 9%;

        z-index: 5;
    }

    &__content_slides,
    &__slide-wrapper,
    &__content {
        position: relative;
        z-index: -5;
    }
}